rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /queue/{document=**} {
      allow read, write: if true;
    }
    
    match /metadata/{document=**} {
      allow read, write: if true;
    }
    
    match /preorders/{document=**} {
      allow read, write: if true;
    }
  }
}